 @model managerelchenchenvuelve.Models.ConsultaSoloAmpymeCompleto

@{
    ViewData["Title"] = "solicitud";
}


<div class="container__fijo">
   <div class="container">
        
    <div class="d-flex justify-content-between mb-3">
            <h4>Solicitud Nro.: @Html.DisplayFor(model => model.CodigoDeSolicitud)</h4>
            <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("SubirArchivo","Archivos")?ProcessId=@ViewBag.Codigo'">Agregar Información</button>
    </div>

    <div class="row">
        <!-- Datos Generales -->
		<div class="col-md-8">
            <div class="card-custom mb-4">
                <h6 class="mb-3">Datos Generales</h6>
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Código De Solicitud Chen Chen</label>
                             <div class="info-box" style="height: 40px"><spam>@Html.DisplayFor(model => model.CodigoDeSolicitud)</spam></div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Fecha De Creación</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.FechaDeCreacion)</div>
                        </div>
                    </div>

                <div class="row mb-3">
                    <div class="col-md-6 mb-3">
                            <label class="label-muted">Recomendación</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.Gestor)</div>
                    </div>
                    <div class="col-md-6 mb-3">
                            <label class="label-muted">Etapa Del Negocio</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.EtapaDelNegocio)</div>
                    </div>
                </div>
            </div>

            <!-- Datos De Contacto -->
                <div class="card-custom mb-4">
                  
                <h6 class="mb-3">Datos De Contacto</h6>
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Nombre</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.Nombre)</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Apellido</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.Apellido)</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Tipo de identificación</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.TipoDeIdentificacion)</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Número de identificación</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.NumeroDeIdentificacion)</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Correo Electronico</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.CorreoElectronico)</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Teléfono</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.Teléfono)</div>
                        </div>
                    </div>
            </div>

                <!-- Datos De Contacto -->
                <div class="card-custom mb-4">

                    <h6 class="mb-3">Datos del Negocio</h6>
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Nombre del Negocio</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.NombreDelNegocio)</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Actividad económica</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.ActividadEconómica)</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Fecha de Inicio de Operaciones</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.FechaDeInicioDeOperaciones)</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Ventas mensuales</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.VentasMensuales)</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">RUC</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.Ruc)</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Web Site</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.WebSite)</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Instagram</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.Instagram)</div>
                        </div> 
                    </div>

                     
                    <div class="col-md-12">
                        <label class="label-muted">Descripción del negocio</label>
                        <textarea class="form-control" rows="4" disabled readonly>@Html.DisplayFor(model => model.DescripcionDelNegocio)</textarea>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Provincia</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.Provincia)</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Distrito</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.Distrito)</div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">corregimiento</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.Corregimiento)</div>
                        </div> 
                    </div>         
                </div>

                <div class="card-custom mb-4">

                    <h6 class="mb-3">Detalles de la solicitud</h6>

                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">¿Cuanto Chenchen necesitas?</label>
                            <div class="info-box" style="height: 40px">@Html.DisplayFor(model => model.CuantoChenchenNecesitas)</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">¿En qué lo invertirás?</label>
                            <div class="info-box" style="min-height: 40px">@Html.DisplayFor(model => model.EnQueLoInvertiras)</div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Gestión Realizada *</label>
                            <select class="form-control" id="gestionreal">
                                <option selected disabled value="">Seleccione una opción</option>
                                <option value="Por contactar">Por contactar</option>
                                <option value="Atendido">Atendido</option>
                                <option value="Llamada realizada sin exito">Llamada realizada sin éxito</option>
                            </select>
                           
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="label-muted">Verificación del Cliente *</label>
                            <select class="form-control" id="TipoFormulario">
                                <option selected disabled value="">Seleccione una opción</option> 
                                <option id="T0" value="0">T0</option>
                                <option id="T1" value="1">T1</option>
                                <option id="T2" value="2">T2</option>
                                <option id="T3" value="3">T3</option>
                                <option id="Fidemicro" value="4">Fidemicro</option>
                                <option id="No Precalificado " value="5">No Precalificado </option>
                            </select>
                        </div>

                    </div>

                    <section id="razon">
                         <div> 
                            <label><strong>Razón</strong></label><br>
                            <label>
                              <input type="radio" name="razon" value="incorrecto">
                              Número Incorrecto
                            </label><br>
                            <label>
                              <input type="radio" name="razon" value="no_atiende">
                              No Atiende Llamada
                            </label>
                          </div>
                      </section>

                      <section id="atencion">
                          <div>
                            <label><strong>Tipo de atencion</strong></label><br>
                            <label>
                              <input type="radio" name="razon" value="contactado">
                              Contactado
                            </label><br>
                            <label>
                              <input type="radio" name="razon" value="atendido_en_sitio">
                              Atendido en Sitio
                            </label>
                          </div>
                      </section>


                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        
                        <button  type="button" class="btn btn-primary btn-sm">Solicitar Cambio</button>
                        <button id="sendbutton" type="button" class="btn btn-primary btn-sm">Aprobar</button>
                        <button id="closebutton" type="button" class="btn btn-secondary btn-sm">Cancelar</button> 
                    </div>



                </div>
        </div>

        
        <!-- Panel Derecho -->
        <div class="col-md-4">
            <div class="card-custom">
                <div class="mb-2">
                        <strong>No. solicitud:</strong> @Html.DisplayFor(model => model.CodigoDeSolicitud)
                </div>
                <div class="mb-2">
                        <strong>Tipo de solicitud:</strong><br> @Html.DisplayFor(model => model.TipoDeAtencion)
                </div>
                <div class="mb-2">
                        <strong>Fecha creación:</strong><br> @Html.DisplayFor(model => model.FechaDeCreacion)
                </div>
                <div class="mb-2">
                        <strong>Creado por:</strong><br> @Html.DisplayFor(model => model.Gestor)
                </div>
                <div class="mb-2">
                        <strong>Duración:</strong><br> 🟢 @Html.DisplayFor(model => model.TiempoTranscurrido)
                </div>
                <div class="mb-2">
                        <strong>Asignado a:</strong><br> @Html.DisplayFor(model => model.Gestor)
                </div>
                <div class="mb-2">
                    <strong>Estado:</strong><br> <span class="status-badge">En curso</span>
                </div>
                <div class="mb-2">
                    <strong>Bandeja:</strong><br> <span class="badge bg-warning text-dark">Revisión y Asignación</span>
                </div>
                <div class="mb-2">
                    <strong>Tareas:</strong><br> 1 tarea activa
                </div>
                <div class="mb-2">
                    <strong>Comentarios:</strong><br> 0 Comentarios
                </div>
             </div>
        </div>

         <div id="confirmationModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmar envío</h5>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro de que desea cancelar la solicitud?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeModal">Cancelar</button>    
                        <button type="submit" class="btn btn-success" id="confirmButton" onclick="location.href='@Url.Action("Index","Process")'">SÍ</button>
                    </div>
                 </div>
            </div>
        </div>


    </div>
  </div>
</div>
